@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .marquee-container {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: marquee 30s linear infinite;
    min-width: 100%;
    flex-shrink: 0;
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
}
